@font-face {
  font-family: bodyFont;
  src: url(analogue55regular.ttf);
}
@font-face {
  font-family: logoFont;
  src: url(harabaramaisdemo.otf);
}
:root {
  --gradient: linear-gradient(to right, #e705f8 40%, #052bf8);
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  padding-top: 7rem;
  font-family: bodyFont;
  overflow-x: hidden;
}
.colored-section {
  background: var(--gradient);
}
.container-special {
  width: 80%;
  margin: auto;
}
.container {
  width: 90%;
  margin: auto;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column {
  flex-direction: column;
}
.space-around {
  justify-content: space-around;
  align-items: center;
}
/* NvBar */

.navbar {
  background: linear-gradient(180deg, #fff 90%, rgba(255, 0, 0, 0));
}
.navbar-brand {
  font-family: logoFont;
  font-size: 2rem;
  font-weight: 700;
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link {
  font-size: 1.5rem;
}

/* 
Header */
.big-heading {
  margin-bottom: 2rem;
}
.fas,
.fab {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.download-button {
  background: var(--gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
  box-sizing: border-box;
  transition: all 0.2s linear;
  margin-top: 0.3rem;
}
.download-button:hover {
  border: 1px solid black;
  background-color: #f0f0ee;
}

.title-img {
  width: 100%;
  height: 100%;
}

/* Features */
#features {
  margin-top: 4rem;
}

.feature-card {
  text-align: center;

  padding: 2rem;
}
.features-text {
  margin: 2rem auto;
}

/* Pricing */

.pricing {
  margin-top: 3rem;
}
.pricing,
.price-card,
.description {
  text-align: center;
}
.price-card {
  border: 1px solid #f5f5f5;
  padding: 0.7rem;
  box-sizing: border-box;
  transition: all 0.4s linear;
  border-radius: 0.5rem;
}
.price-card:hover {
  transform: scale(1.13);
}
.price-card > button {
  border-radius: 0.5rem;
}
.price-card > button > h3 {
  margin: auto;
}
.monayy {
  font-family: bodyFont;
  font-size: 2rem;
  font-weight: 500;
}

#cta {
  margin: 4rem auto;
}

/* Footer  */
.end-icons {
  margin-bottom: 1rem;
}

.end-icons > i {
  margin-right: 0.5rem;
}

@media (max-width: 992px) {
  .price-cards {
    flex-direction: column;
  }
  .price-card {
    margin-bottom: 2rem;
  }
}
